@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
/* variable */
/* general */
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

body {
  background-color: #f4f8f9;
}

ul {
  list-style: none;
}

i {
  padding: 5px 3px;
  font-size: 14px;
}

#header,
#container {
  margin: 0 auto;
}

/* header content */
#header {
  background-color: #ffffff;
  margin-top: 20px;
  height: 300px;
  width: 1170px;
}

#header__logout {
  padding: 5px 0px;
  display: flex;
  justify-content: flex-end;
}

#header__logout button {
  font-size: 0.7em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px 12px;
}

#header__upload {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

#header__profile {
  padding: 5px 15px;
}

#header__profile ul li {
  padding: 3px 0px;
}

#header__tabs {
  position: relative;
  bottom: 20px;
  border-top: 1px solid #ccc;
  margin-left: 185px;
  padding-top: 15px;
  text-transform: uppercase;
}

#header__tabs ul {
  display: inline-flex;
}

#header__tabs ul li {
  padding-left: 15px;
  font-weight: 900;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile__image {
  margin-left: 20px;
}

.profile__image img {
  width: 150px;
}

.profile__data {
  margin-left: 30px;
  margin-top: 25px;
  flex-grow: 6;
}

.profile__data--bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.profile__rate {
  margin-top: 30px;
}

/* grid */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* button */
button {
  text-align: center;
  padding: 7px 12px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: #FFFFFF;
}

.button--primary {
  border-color: #d0dde6;
  color: #d0dde6;
}

.button--blue {
  border-color: #007de5;
  color: #007de5;
}

.button__reverse--blue {
  color: white;
  background-color: #007de5;
}

/* container */
#container {
  background-color: #FFFFFF;
  width: 1170px;
  height: 625px;
  margin-top: 20px;
}

#container .content {
  display: none;
  margin: 3px 12px;
}

#container .content h3 {
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  padding: 12px 0px;
}

#container .content p {
  max-width: 210px;
  margin: 22px 0px;
}

#container .content p span {
  font-size: 14px;
  padding: 7px 5px;
  background-color: #f5f7f7;
  color: #333333;
}

#container .content p span i {
  padding: 0px 5px;
}

#container .content p a {
  padding: 5px 7px;
  background-color: #ecf0f5;
}

#container .content p a:hover {
  background-color: #007de5;
}

/* modal */
.modal {
  position: relative;
  top: -15%;
  left: 20%;
  width: 350px;
  display: none;
  padding: 7px 5px;
  border: 1px solid #b1bac1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal h5 {
  color: #b1bac1;
  padding: 5px 7px;
  text-transform: uppercase;
}

.modal p {
  color: #cccdce;
  padding: 5px 7px;
  border-bottom: 1px solid #ccc;
}

.modal button {
  margin: 22px 14px;
  text-align: center;
}

/* responsive */
@media (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }
  #header {
    background-color: #b1bac1;
    margin-top: 20px;
    height: 300px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }
  #header__logout {
    padding: 5px 0px;
    margin-left: 30%;
    display: block;
  }
  #header__logout button {
    font-size: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-left: 22em;
    background-color: none;
  }
  #header__upload {
    display: none;
  }
  #header__profile {
    padding: 5px 15px;
  }
  #header__profile ul li {
    padding: 3px 0px;
  }
  #header__tabs {
    position: relative;
    bottom: 20px;
    border-top: 1px solid #ccc;
    margin-left: 185px;
    padding-top: 15px;
    text-transform: uppercase;
  }
  #header__tabs ul li {
    padding-left: 15px;
    font-weight: 900;
    cursor: pointer;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
  .profile__image {
    margin-left: 7em;
  }
  .profile__image img {
    width: 10em;
  }
  #container {
    background-color: #b1bac1;
    width: 700px;
    height: 625px;
    margin-top: 5px;
  }
}
