@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* variable */

$full-width: 1170px;
$mobile-width:700px;

/* general */

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans"
}

body {
    background-color: rgb(244, 248, 249);
}

ul {
    list-style: none
}

i {
    padding: 5px 3px;
    font-size: 14px;
}

#header,
#container {
    margin: 0 auto;
}


/* header content */

#header {
    background-color: #ffffff;
    margin-top: 20px;
    height: 300px;
    width: $full-width;
    &__logout {
        padding: 5px 0px;
        display: flex;
        justify-content: flex-end;
    }
    &__logout button {
        font-size: 0.7em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 5px 12px;
    }
    &__upload {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }
    &__profile {
        padding: 5px 15px;
        ul li {
            padding: 3px 0px;
        }
    }
    &__tabs {
        position: relative;
        bottom: 20px;
        border-top: 1px solid #ccc;
        margin-left: 185px;
        padding-top: 15px;
        text-transform: uppercase;
        ul {
            display: inline-flex;
            li {
                padding-left: 15px;
                font-weight: 900;
                cursor: pointer;
            }
        }
    }
}

.profile {
    display: flex;
    flex-direction: row;
    &__image {
        margin-left: 20px;
        img {
            width: 150px;
        }
    }
    &__data {
        margin-left: 30px;
        margin-top: 25px;
        flex-grow: 6;
        &--bold {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__rate {
        margin-top: 30px
    }
}


/* grid */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}


/* button */

button {
    text-align: center;
    padding: 7px 12px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
}

.button--primary {
    border-color: rgb(208, 221, 230);
    color: rgb(208, 221, 230);
}

.button--blue {
    border-color: rgb(0, 125, 229);
    color: rgb(0, 125, 229);
}

.button__reverse--blue {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 125, 229);
}


/* container */

#container {
    background-color: #FFFFFF;
    width: $full-width;
    height: 625px;
    margin-top: 20px;
    .content {
        display: none;
        margin: 3px 12px;
        h3 {
            font-size: 20px;
            line-height: 22px;
            color: rgb(51, 51, 51);
            padding: 12px 0px;
        }
        p {
            max-width: 210px;
            margin: 22px 0px;
            span {
                font-size: 14px;
                padding: 7px 5px;
                background-color: rgb(245, 247, 247);
                color: rgb(51, 51, 51);
                i {
                    padding: 0px 5px;
                }
            }
            a {
                padding: 5px 7px;
                background-color: rgb(236, 240, 245);
                &:hover {
                    background-color: rgb(0, 125, 229);
                }
            }
        }
    }
}


/* modal */

.modal {
    position: relative;
    top: -15%;
    left: 20%;
    width: 350px;
    display: none;
    padding: 7px 5px;
    border: 1px solid rgb(177, 186, 193);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h5 {
        color: rgb(177, 186, 193);
        padding: 5px 7px;
        text-transform: uppercase;
    }
    p {
        color: rgb(204, 205, 206);
        padding: 5px 7px;
        border-bottom: 1px solid #ccc;
    }
    button {
        margin: 22px 14px;
        text-align: center
    }
}


/* responsive */

@media (max-width:$mobile-width) {
    body {
        margin: 0;
        padding: 0;
    }
    #header {
        background-color: rgb(177, 186, 193);
        margin-top: 20px;
        height: 300px;
        max-width: $mobile-width;
        display: flex;
        flex-direction: column;
        &__logout {
            padding: 5px 0px;
            margin-left: 30%;
            display: block;
        }
        &__logout button {
            font-size: 0.7em;
            font-weight: 700;
            text-transform: uppercase;
            border: none;
            margin-left: 22em;
            background-color: none;
        }
        &__upload {
            display: none;
        }
        &__profile {
            padding: 5px 15px;
            ul li {
                padding: 3px 0px;
            }
        }
        &__tabs {
            position: relative;
            bottom: 20px;
            border-top: 1px solid #ccc;
            margin-left: 185px;
            padding-top: 15px;
            text-transform: uppercase;
            ul {
                li {
                    padding-left: 15px;
                    font-weight: 900;
                    cursor: pointer;
                }
            }
        }
    }
    .profile {
        display: flex;
        flex-direction: column;
        &__image {
            margin-left: 7em;
            img {
                width: 10em
            }
        }
    }
    #container {
        background-color: rgb(177, 186, 193);
        width: $mobile-width;
        height: 625px;
        margin-top: 5px;
    }
}